<div class="feed">
  <% @showus.each do |showu| %>
    <%= render partial: "postcard", locals: { showu: showu } %>
  <% end %>
</div>

<script>
  function toggleCommentBox(id) {
    const box = document.getElementById(`comment-box-${id}`);
    box.style.display = box.style.display === "none" ? "block" : "none";
  }
</script>

<p> hello </p>
